.general-app-container {
  text-align: center;
  min-height: 100vh;
  height: 100vh;
  min-width: 100vw;
  width: 100vw;
  background-color: purple;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
